body{
	font-family: arial;
	margin: auto;
	
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.halaman{
	width: 100%;
	height: 830px;
	margin: auto;
	background: url(../galeri/biru.jpg);
	background-size: 100% 100%;
}
	.halaman .caption{
		float: left;
		margin-left: 65px;
		width: 500px;
		color: black;
	}

	.halaman .caption form input[name=idpelanggan]{
		width: 500px;
		padding: 15px;
		border: 1px solid gray;
	}

	.halaman .caption form input[name=nominal]{
		width: 200px;
		margin-top: 10px;
		padding: 15px;
		border: 1px solid gray;
	}

	.halaman .caption form button{
		margin-top: 10px;
		padding: 14px 16px;
		background: #42c9a5;
		cursor: pointer;
		border: none;
		background: #1387ad;
		color: white;
		font-weight: bold;
	}

	.halaman .caption form button:hover{
		background: white;
		color: black;
		transition: 1s;
	}

	.halaman .caption h3{
		margin-top: 180px;
	}

	.halaman .caption a{
		border-radius: 5px;
		background-color: #0087ff;
		border-bottom: 3px solid #0600ff;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 8px;
		padding-bottom: 8px;
		text-decoration: none;
		color: white;
	}

.header{
	width: 100%;
	overflow: hidden;
	background: #160573;

}
	.header h2{
		margin-left: 14px;
		color: white;
	}

.menu{
	width: 100%;
	box-sizing: border-box;
	background: #075fb9;
	overflow: hidden;
}
	

	.menu a{
		float: left;
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	.menu a:hover{
		background: #ffffff;
		color: black;
	}

footer{
	width: auto;
	background-color: #004d82;
	text-align: center;
	font-size: 10pt;
	color: white; 
	padding-top: 10px;
	padding-bottom: 10px;
}

.content{
	width: auto;
	margin: auto;
	padding: 14px 16px;
	background: #e0e0e0;
	line-height: 27px;
	text-align: justify;
}

	.content p{
		color: #5c5c5c;
	}

table tr td{
	width: 500px;
	height: 200px;
	border: none;	
}