body{
	margin: 0;
	padding: 0;
	font-family: arial;
}

.dark {
    transition: 0.5s;
    background-color: #171717 !important;
    color: rgb(255, 255, 255) !important;
}

nav{
	width: 100%;
	background-color: #00649e;
	overflow: hidden;
}

	nav .nav{
		width: 1570px;
		margin: auto;
		overflow: hidden;
	}

	nav img{
		float: left;
		margin-top: 20px;
		width: 35px;
		height: 35px;
	}

	nav .nav .logo{
		float: left;
		width: 500px;
		overflow: hidden;
	}

	nav .nav .logo p{
		color: rgb(255, 255, 255);
		padding-left: 50px;
		padding-top: 1px;	
		font-size: 25px;
	}

	nav .nav .menu{
		float: right;
		width: 700px;
		overflow: hidden;
	}

	nav .nav .menu ul{
		margin: 0;
		padding: 0;
		margin-top: 20px;
	}

	nav .nav .menu ul li{
		font-size: 20px;
		float: right;
		padding-left: 15px;
		padding: 10px;
		display: block;
	}

	nav .nav .menu ul li button{
		margin-top: -10px;
		background: #9bf00b;
		padding: 10px;
		border: none;
		font-size: 20px;
	}

	nav .nav .menu ul li a{
		text-decoration: none;
		color: rgb(255, 255, 255);
		transition: 1s;
	}

	nav .nav .menu ul li a:hover{
		background-color: #000000;
		padding: 10px;
		text-decoration: none;
		color: rgb(255, 255, 255);
		transition: 1s;
	}

.container-1{
	width: 100%;
	height: 1030px;
	background-color: #171717 
}

.banner{
	width: 1900px;
	height: 1030px;
	margin: auto;
	background: url(../img/1.jpg);
	background-size: 100% 100%;
}

	.banner .caption{
		float: left;
		margin-top: 200px;
		margin-left: 200px;
		overflow: hidden;
		width: 600px;
		color: #ffffff;
		text-align: justify
	}

	.banner .caption h1{
		margin-top: 70px;
		font-size: 50px;
		color: #16e5ec;
	}

	.banner .caption p{
		line-height: 1.5;
		font-size: 20px;
		margin-top: 30px;
	}

	.banner .caption a{
		background-color: #9bf00b;
		font-weight:1000;
		border-bottom: 3px solid #2b2b2b;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 3px;
		padding-bottom: 3px;
		transition: 1s;
		text-decoration: none;
		color: #054b16;
	}

	.banner .caption a:hover{
		background-color: #054b16;
		font-weight:1000;
		border-bottom: 3px solid #2b2b2b;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 3px;
		padding-bottom: 3px;
		text-decoration: none;
		transition: 1s;
		color: #9bf00b;
	}

.container-2{
	width: 100%;
	height: 1650px;
	overflow: hidden;
	background: rgb(18, 169, 196);
	color: rgb(255, 255, 255);
}
	.container-2 h1{
		margin-top: 60px;
		text-align: center;
		text-shadow: 0 0 10px #000000;
	}

	/*  */
	
	.container-2 .img-container-2{
		display: flex;
		justify-content: center;
	}

	.container-2 .img-container-2 img{
		width: 263px;
		height: 395px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.container-2 .img-container-2 p{
		line-height: 1.5;
		margin-top: auto;
		margin-left: 5px;
		margin-right: 5px;
		padding: 10px;
		font-size: 15px;
		color: white;
		background: #171717;
	}

	/*  */

	.container-2 .head-container-2{
		padding-top: 120px;
		text-align: center;
		font-size: 70px;
		font-weight: 1000;
		line-height: 1.1;
		text-shadow: 0 0 10px #000000;
	}
	
	/*  */

	.container-2 .about-container{
		margin-top: 50px;
		display: flex;
		justify-content: center;
	}

	.container-2 .about-container .section-about{
		width: 500px;
		height: 600px;
		margin-left: 70px;
		margin-right: 70px;
		background-color: #ffffff;
	}

	.container-2 .about-container .section-about img{
		padding: 30px;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
		width: 420px;
		height: 395px;
	}

	.container-2 .about-container .section-about p{
		padding: 30px;
		line-height: 1.5;
		font-size: 25px;
		color: rgb(0, 0, 0);
		background: #ffffff;
		text-align: center;
	}

.container-3{
	width: 100%;
	background-color: #00649e;
}

.portofolio{
	width: 1170px;
	height: auto;
	overflow: hidden;
	margin: auto;
	padding: 5px;	
	border-radius: 6px;
}

	.portofolio .header{
		margin-top: 40px;
		overflow: hidden;
		padding-left: 0px;
		width: 300px;
		color: rgb(255, 255, 255);
	}

	.portofolio .item{
		width: 350px;
		overflow: hidden;
		text-align: center;
		float: left;
		margin-left: 30px;
	}

	.portofolio .item h3{
		border: 1px solid rgb(228, 228, 228);
		overflow: hidden;
		padding: 2px;
	}

	.portofolio h2{
		margin-top: 40px;
		overflow: hidden;
		padding-left: 0px;
		width: 300px;
		color: rgb(255, 255, 255);
	}

	.portofolio .form-input{
		float: left;
		width: 500px;
		overflow: hidden;
	}

	.portofolio .form-input input{
		border: 1px solid rgb(0, 0, 0);
		padding-left: 3px;
		width: 500px;
		margin-top: 15px;
		padding: 8px;
	}

	.portofolio .form-input textarea{
		border: 1px solid rgb(0, 0, 0);
		padding-left: 3px;
		width: 500px;
		margin-top: 15px;
		padding: 8px;
		resize: none;
	}

	.portofolio .form-input button{
		border: 1px solid rgb(0, 0, 0);
		padding-left: 3px;
		width: 500px;
		margin-top: 15px;
		padding: 8px;
		background-color: rgb(228, 228, 228);
		color: rgb(255, 255, 255);
		font-size: 15px;
	}

	.portofolio .alamat{
		float: right;
		overflow: hidden;
		margin-top: 5px;
		margin-bottom: 120px;
		width: 500px;
		color: white;
	}

.footer{
	padding: 15px;
	text-align: center;
	font-size: 18px;
	background-color: rgb(18, 169, 196);
	color: white;
}

@media (max-width: 600px) {
		section {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}