body{
	font-family: arial;
	margin: auto;
	
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.halaman{
	width: 100%;
	height: 830px;
	margin: auto;
	background: url(../img/biru.jpg);
	background-size: 100% 100%;
}
	.halaman .caption{
		float: left;
		margin-top: 200px;
		margin-left: 200px;
		width: 800px;
		color: black;
		font-size: 30px;
		text-align: justify;
	}

	.halaman .caption h3{
		margin-top: 180px;
	}

	.halaman .caption a{
		border-radius: 5px;
		background-color: #0087ff;
		border-bottom: 3px solid #0600ff;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 8px;
		padding-bottom: 8px;
		text-decoration: none;
		color: white;
	}

.header{
	width: 100%;
	overflow: hidden;
	background: #160573;

}
	.header h2{
		margin-left: 14px;
		color: white;
	}

.nav{
	width: 100%;
	box-sizing: border-box;
	background: #075fb9;
	overflow: hidden;
}
	

	.nav a{
		float: left;
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	.nav a:hover{
		background: #ffffff;
		color: black;
	}

footer{
	width: auto;
	background-color: #004d82;
	text-align: center;
	font-size: 10pt;
	color: white; 
	padding-top: 10px;
	padding-bottom: 10px;
}

.content{
	width: auto;
	margin: auto;
	padding: 14px 16px;
	background: #e0e0e0;
	line-height: 27px;
	text-align: justify;
}

	.content p{
		color: #5c5c5c;
	}
